<article class="speakerslist <% if (pageID == 'home') { %>jumbotron hidden-xs<% } %>">
  <div class="container">
    <div class="row">
        <% speakers.forEach(function(item) { %>
        <div class="<% if (pageID == 'home') { %>col-sm-4 text-center<% } else { %>col-sm-8 <% } %>">
          <h3 class="speakerslist-title"><%= item.site %></h3>
          <h5 class="speakerslist-name"><a href="/speakers/<%= item.id %>"><%= item.category %></a></h5>
          <p class="speakerslist-info">
            <a href="/speakers/<%= item.id %>">

              <% if (pageID == 'home') { %>
                <img class="speakerslist-img img-circle" src="<%= item.image %>" alt="Photo of <%= item.site %>" width = "300"></a>
              <% } %>

              <% if (pageID == 'speakerList') { %>
                <img class="speakerslist-img img-circle pull-left" src="<%= item.image %>" alt="Photo of <%= item.name %>" width = "300"></a>
              <% } %>
            </a>

            <% if (pageID == 'speakerDetail') { %>
              <img class="speakerslist-img img-responsive pull-left" src="<%= item.image %>" alt="Photo of <%= item.name %>" width = "300"></a>
            <% } %>
          </a>


            <% if (pageID !== 'home') { %>
              <% if (pageID == 'speakerList') { %>
                <%= item.summary %>
              <% } else { %>
                <%- item.description %>
              <% } %>
            <% } %>
          </p>
        </div>
        <%  }); %>
    </div><!-- row -->
  </div><!-- container -->
</article>
