<article class="speakerslist <% if (pageID == 'home') { %>jumbotron hidden-xs<% } %>">
  <div class="container">
    <div class="row">
        <% speakers.forEach(function(item) { %>
        <div class="<% if (pageID == 'home') { %>col-sm-6 col-md-4 col-lg-3 text-center<% } else { %>col-sm-12 <% } %>">
          <h3 class="speakerslist-title"><small> <%= item.site %> </small></h3>
          <p class="speakerslist-info">
            <a href="/speakers/<%= item.id %>">

              <% if (pageID == 'home') { %>
                <h5 class="speakerslist-name"><a href="/speakers/<%= item.id %>"> <small><%= item.category %></a></small></h5>
                <img class="speakerslist-img img-circle" src="<%= item.image %>" alt="Photo of <%= item.site %>" width = "200"></a>
              <% } %>

              <% if (pageID == 'speakerList') { %>
                <img class="speakerslist-img img-circle pull-left" src="<%= item.image %>" alt="Photo of <%= item.name %>" width = "200" style = "display: inline-block; float: left;"></a>
                <iframe width="300" height="200" src="<%= item.videoEmbed %>" style = "display: inline-block;"> </iframe>
              <% } %>
            </a>

            <% if (pageID == 'speakerDetail') { %>
              <img class="speakerslist-img img-responsive pull-left" src="<%= item.image %>" alt="Photo of <%= item.name %>" width = "200"></a>
              <p> <%= item.info %> </p>
              <iframe width="300" height="200" src="<%= item.videoEmbed %>" style = "display: inline-block; float: left; margin-right: 18px;"> </iframe>
              <iframe width="300" height="200" src="<%= item.videoEmbed %>" style = "display: inline-block;"> </iframe>
            <% } %>
          </a>


            <% if (pageID !== 'home') { %>
              <% if (pageID == 'speakerList') { %>
                <%= item.summary %>
              <% } else { %>
                <%- item.description %>
              <% } %>
            <% } %>
          </p>
        </div>
        <%  }); %>
    </div><!-- row -->
  </div><!-- container -->
</article>
